/*----General----*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
 body{ 
   background-color: white;
   box-shadow: 0 1.25em 0 0 gray ;
   text-align: center;
}
/*----Header----*/
header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    z-index: 999;
    box-shadow: 0 0 1.25em 0 gray;
    background-color: white;
    position: fixed;
}
/*---- barra de navegación ----*/
.barra-inicio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.barra-inicio ul{ 
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.barra-inicio ul li { 
    display: inline;
    text-align: center;
}
/* en general*/
h1 {
    font-family: 'Karla', sans-serif; 
    font-size: 2rem;
}
a{
    text-decoration: none;
    color: black;
    padding: 1.25em;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}
a:hover {
    color: violet;
}
.boton{
    background-color: rgba(14, 188, 194, 0.664);
    color: white;
    padding: 0.75em 1.875em;
    border-radius: 6.25em;
    margin-right: 6.25em;
    text-transform: uppercase;
}
.boton:hover {
    background-color:rgba(202, 196, 209, 0.904) ;
    color: white;
}
button {
    color: white;
    border-color: rgba(14, 188, 194, 0.664);  
    background: none;
    border: none;
}
/*---- fin barra de navegación ----*/
/*----Section hola----*/
 .presentación{
    padding-top: 12vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    margin-top: 20vh auto 0 auto; 
    text-align: left;
    font-size: 2rem; 
}
.texto-hola{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrado {
    align-items: center ;
    padding-left: 2em;
    
}
.linea1 {
    font-family: 'Heebo', sans-serif;
    margin-top: 1.5em;
}
.linea2{
    font-family: 'Karla', sans-serif;
    color: rgba(14, 188, 194, 0.664);
    margin-top: 0.5em;
    font-size: 3rem; 

}
.linea3{
    font-family: 'Roboto', sans-serif;
    margin: 1.5em 0;
    font-size: 1rem; 
}
.imagen-hola {
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: center;  
}
.imagen-hola img {
    width: 70%;
    height: 70%;
}
 /*---- Fin section hola ----*/

 /*----Inicio section mis conocimientos*/
.conocimientos{
     width: 100%;
     padding-bottom: 3em;
     background-color: #f6f7fb;
}
.conocimiento-texto {
    width: 100%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.titulo-conocimientos{
 font-size: 2 rem;
 margin: 3.5em 0  1em 0 ;
}
.texto-conocimientos {
    font-size: 1.2rem;
    margin-bottom: 1em;
}
.conocimientos-boxes{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     text-align: center;
     margin: 0% auto;
     width: 80%;
}
.conocimientos-boxes img{
    height: 6.25em;
    padding-bottom: 0.938em;
    margin: 0 auto; 
}
.conocimientos-boxes div {
    border: solid gray 2px;
    border-radius: 3%;
    padding: 3.75em 5.625em;
    margin:0.625em;
    background-color: white;
    text-align: center;
}
.conocimiento-boxes div a {
    padding: 0%;
}
.conocimientos-boxes div p {
    font-family: 'Karla', sans-serif;
}
.conocimientos-boxes div:hover {
border: solid violet 2px;
color: violet;
}

/*---- fin mis conocimientos----*/
/*----Inicio cita----*/
.cita
{   width: 100%;
    height: 90vh;
    background-image: linear-gradient(to right,  rgba(14, 188, 194, 0.664), violet);
    display: flex;
    justify-content: center;
}
.cita-div {
    width: 70%;
    display: flex;
    justify-content: stretch;
    flex-direction: column;
    align-items: center;
}
.img-comillas {
    margin: 0.5em 0;
    width: 30%;
}
.texto-cita {
    margin: 2em 0;
    width: 80%;
    align-content: center;
    font-size: 2rem;
}
.someone {
    margin: 2em 0;
    width: 20%;
    align-content: center;
    font-size: 2rem;   
}
/*----Fin Cita----*/
/*---- Inicio Mis Proyectos----*/
.proyectos{
    padding-top: 12vh;
    width: 100%;
}
.proyectos-texto{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 70%;
    margin: 5% auto;
}
.proyectos-titulo{
    margin-bottom: 1em;
}
.proyectos-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0% auto;
    width: 80%;
}
.proy img{
   height: 12.5em;
   width: 12.5em;
   padding-bottom: 2em;
   margin: 1.0em auto;
}
.proy{
    display: flex;
    border: #FFBD9B 1px solid;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 21.875em;
    height: 18.75em;
    margin: 0.5em 0;
    align-items: center;
    flex-direction: column;
}
.proy p{
    font-family: 'Karla', sans-serif;
    text-transform: capitalize;
}
.proyectos-boxes div:hover {
    border: solid violet 2px;
    color: violet;
}
/*----Fin Mis Proyectos----*/
/*----Inicio Contactame----*/
.contacto {
    padding-top: 12vh;
    width: 100%;
    display: flex;
	justify-content: center;	
}
.contactame{
    width: 50%;
    flex-direction: row;
	flex-wrap: wrap;
    text-align: left;
    padding: 3em;
}
.contactame h1 {
    font-family: 'Karla', sans-serif;
    margin-bottom: 1em;
}
.contactame-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: flex-start;
	align-content: space-around;
    margin-top:1em;
}
.contact-item {
    list-style: none; 
    margin: 1em; 
}
.contact-item a { 
    text-transform:none;
}
.contact-item i {
    margin: 0.5em;
}
.escribime{
    width: 50%;
    flex-direction: row;
	flex-wrap: wrap;
    text-align: left;
    padding: 3em;
}
.escribime h1 { 
    margin: 0.5em 0;
}
.div1-form {
    display: flex;
    justify-content:center;
}
.nombre-form, .apellido-form {
    width: 50%;
}
label {
    display: block;
    margin: 0.5em 0;
}
input {
    border-radius: 15px;
    height: 3em;
    border: 1px solid gray;
    padding: 1em;
}
textarea{
    width: 90%; 
    border-radius: 15px;
    height: 7em;
    border: 1px solid white;
    border:  gray solid 3px;
}
.email-form input {
    width: 90%;
}
/*----Fin Contactame----*/
/*---- Inicio footer----*/
footer {
    display: flex;
    justify-content: center;
	flex-direction: column;
    background-color: rgba(14, 188, 194, 0.664);
}
.footer-container {
    width: 50%;
    margin: 0  auto;
}
.footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    list-style: none;
}
.footer-list li {
    text-decoration: none;
    margin: 3% 0;
    padding: 2%;
}
.footer-redes {
    width: 30%;
    margin: 0  auto;
}
.made-in {
    width: 30%;
    margin: 1%  auto;
}
.redes{
    background-color: white;
    border-radius: 50%;
    padding: 50%;
}
.redes:hover {
    background-color: rgba(14, 188, 194, 0.664) ;
    color: white;
}
/*----Fin footer----*/
/*----Media quore----*/
 @media (max-width:1524px){
   .cita{
    height: 100vh;
   }
}
@media (max-width:1100px){
    header {
        display: none;
    }
    .conocimientos-boxes {
        width: 100%;
    }
    .cita-div {
        width: 100%;
    } 
    .proyectos-boxes {
        width: 100%;
    }
}
@media (max-width:768px){
    .imagen-hola img {
        margin-left: 1.5em;
    }
    .someone {
        width: 100%;
    }
    .contacto {
        flex-direction: column;
    }
    .contactame, .escribime{
        width: 100%;
    }
}
@media (max-width:480px){
    .presentación {
        display: flex;
        flex-direction: column;
    }
    .texto-hola, .imagen-hola {
        width: 100%;
    }
    .proyectos-boxes{
        justify-content: center;
    }
    .div1-form {
        flex-direction: column;
    }
    .footer-container {
        display: none;
    }
    .footer-redes, .made-in  {
        width: 50%;
    }
}
@media (max-width:320px){
    .centrado{
        padding: 0 1em;
    }
    .contactame-list{
        width: 100%;
    }
    .footer-redes {
        width: 70%;
    }
}