/*----General----*/
*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}
 body{ 
   background-color: white;
   box-shadow: 0 1.25em 0 0 gray ;
   text-align: center;
}
/*----Header----*/
header {
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: center;
    z-index: 999;
    box-shadow: 0 0 1.25em 0 gray;
    background-color: white;
    position: fixed;
}
/*---- barra de navegación ----*/
.barra-inicio {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}
.barra-inicio ul{ 
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.barra-inicio ul li { 
    display: inline;
    text-align: center;
}
/* en general*/
h1 {
    font-family: 'Karla', sans-serif; 
    border:darkorchid solid 5px;
    font-size: 2em;
}
a{
    text-decoration: none;
    color: black;
    padding: 20px;
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    /*display: block;*/ 
}
a:hover {
    color: violet;
}
.boton{
    background-color: rgba(14, 188, 194, 0.664);
    color: white;
    padding: 0.75em 1.875em;
    border-radius: 6.25em;
    margin-right: 6.25em;
    text-transform: uppercase;
}
.boton:hover {
    background-color:rgba(202, 196, 209, 0.904) ;
    color: white;
}
button {
    color: white;
    border-color: rgba(14, 188, 194, 0.664);  
}
/*---- fin barra de navegación ----*/
/*----Section hola----*/
 .presentación{
    padding-top: 12vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    margin-top: 20vh auto 0 auto; 
    text-align: left;
    border: tomato solid 1px;
    font-size: 2em; /*!!!*/
}
.texto-hola{
    width: 50%;
    border: green solid 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centrado {
    align-items: center;
    border: palevioletred solid 2px;
    padding-left: 2em;
    margin: 25% 10%;
}
.linea1 {
    font-family: 'Heebo', sans-serif;
    margin-top: 1.5em;
}
.linea2{
    font-family: 'Karla', sans-serif;
    color: rgba(14, 188, 194, 0.664);
    margin-top: .5em;
    font-size: 3rem; /*!!!*/

}
.linea3{
    font-family: 'Roboto', sans-serif;
    margin: 1.5em 0;
    font-size: 0.65em; /*!!!*/
}
.imagen-hola {
    border:red solid 2px;
    width: 50%;
    display: flex;
   justify-content: flex-start;
   align-items: center;  
}
.imagen-hola img {
    width: 70%;
    height: 70%;
    border: orangered solid 2px;
}
 /*---- Fin section hola ----*/

 /*----Inicio section mis conocimientos*/
 #Conocimientos{
     width: 100%;
     border: purple 2px solid;
 }
 .conocimiento-texto {
    width: 100%;
    border: red 10px solid;
}
.titulo-conocimientos{
 font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 font-size: 2 rem;
 margin: 3.5em 0  2em 0 ;
}
.texto-conocimiento {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    margin-top: 3.87 rem;
}
 .conocimientos-boxes{
     display: flex;
     justify-content: center;
     align-items: center;
     flex-wrap: wrap;
     text-align: center;
     margin: 0% auto;
     width: 80%;
 }
.conocimientos-boxes img{
    height: 100px;
    padding-bottom: 15px;
}
.conocimientos-boxes div {
    border: solid gray 2px;
    border-radius: 3%;
    padding: 60px 90px;
    margin: 10px;
    background-color: white;
}
.conocimientos-boxes div:hover {
border: solid violet 2px;
color: violet;
}


/*---- fin mis conocimientos----*/
/*----Inicio cita----*/
.cita
{
    width: 100%;
    height: 90vh;
    background: turquoise;
    display: flex;
    justify-content: center;
}
.cita-div {
    width: 70%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;

    border:rgb(235, 82, 27) solid 3px;
}
.img-comillas {
    margin: 2em 0;
    width: 30%;
    border: saddlebrown solid 2px;
}
.texto-cita {
    margin: 2em 0;
    width: 80%;
    align-content: center;
    border: saddlebrown solid 2px;
}
.someone {
    margin: 2em 0;
    width: 20%;
    align-content: center;
    border: saddlebrown solid 2px;
}
/*----Fin Cita----*/
/*---- Inicio Mis Proyectos----*/
.proyectos{
    padding-top: 12vh;
    width: 100%;
    border: solid violet 3px;
}
.proyectos-texto{
    width: 70%;
    margin: 5% auto;
    border: solid palevioletred 3px;
}
.proyectos-titulo{
    margin-bottom: 1em;
}
.proyectos-boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    margin: 0% auto;
    width: 80%;
    border: yellowgreen solid 2px;
}
.proy img{
   height: 12.5em;
   width: 12.5em;
   padding-bottom: 2em;
   margin: 1.5em auto;
   border: tomato 2px solid;
}
.proy{
   display: flex;
    border: #FFBD9B 1px solid;
    border-radius: 10px;
    background-color: whitesmoke;
    width: 21.875em;
    height: 18.75em;
    margin: 0.5em 0;
    align-items: center;
    flex-direction: column;
}
.proyectos-boxes div:hover {
border: solid violet 2px;
color: violet;
}
/*----Fin Mis Proyectos----*/
/*----Inicio Contactame----*/
#Contacto {
    padding-top: 12vh;
    width: 100%;
    border: solid violet 3px;
    display: flex;
	justify-content: center;
	
}
.Contactame{
    width: 50%;
    flex-direction: row;
	flex-wrap: wrap;
    text-align: left;
    padding: 3em;
    border: solid rgb(124, 1, 1) 3px;
}
.Contactame h1 {
    font-family: 'Karla', sans-serif;
    margin: 0.5em;
}

.Contactame-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: flex-start;
	align-content: space-around;
    margin-top:1em;
    border: solid yellow 3px;
}
.contact-item {
    list-style: none; 
    margin: 1em; 
    border: yellowgreen 1px solid;
    }
.contact-item a { 
    text-transform:none;
}

.contact-item i {
    margin: 0.5em;
}
.Escribime{
    width: 50%;
    flex-direction: row;
	flex-wrap: wrap;
    text-align: left;
    padding: 3em;
    border: solid green 3px;
}
.Escribime h1 { 
    margin: 0.5em;
}
.form {
    display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	align-content: flex-start;

}
.div1-form {
    display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
    border: olive solid 1px;
    margin: 1.5em 0;
}



/*---- Inicio footer----*/
footer {
    display: flex;
    justify-content: center;
	flex-direction: column;
    background-color: rgba(14, 188, 194, 0.664);
    border: yellowgreen 3px solid;
}
.footer-container {
    width: 50%;
    margin: 0  auto;
}
.footer-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    border:  purple 2px solid;
    list-style: none;
}
.footer-list li {
    text-decoration: none;
    margin: 3% 0;
    padding: 2%;
    border:orangered solid 2px;
}
.footer-redes {
    width: 30%;
    margin: 0  auto;
}
.made-in {
    width: 30%;
    margin: 1%  auto;
}
.redes{
    background-color: white;
    border-radius: 50%;
    padding: 50%;
    border: solid white 1px;
}
.redes:hover {
    background-color: rgba(14, 188, 194, 0.664) ;
    color: white;
}
/*----Fin footer----*/
/*----Media quore----*/
